<ion-header>
  <ion-toolbar>
    <ion-title>Validar contraseña para registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-avatar class="avatar" size="large">
      <img src="assets/icon/avatar.png" alt="Avatar">
    </ion-avatar>

    
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Ingresa Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!password || !confirmPassword">Validar</ion-button>

      <ion-text color="danger" *ngIf="passwordMismatch">
        <p>Las contraseñas no coinciden.</p>
      </ion-text>

      <ion-text color="success" *ngIf="passwordMatch">
        <p>Las contraseñas coinciden.</p>
      </ion-text>
    </form>
  </div>
</ion-content>
